@font-face {
    font-family: 'Circular-Bold';
    src: url('../fonts/CircularStd-Bold.otf');
}
  
@font-face {
    font-family: 'Circular-Book';
    src: url('../fonts/CircularStd-Book.otf');
}

$accent-color: #40A1DD;

body {
    background-color: #1E181B;
    color: #fff;
    font-family: 'Circular-Book', sans-serif;
    margin: 0;
}

h1, h2 {
    font-family: 'Circular-Bold';
    font-size: 48px;
}

p {
    font-size: 18px;
    line-height: 32px;
}

.pageStyles {
    color: "#232129";
    margin: 0;
    padding: 0;
}

.hero {
    height: 80vh;
    margin-bottom: 50px;

    h1 {
        color: #FFF;
        text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.50);
        font-family: 'Circular-Bold';
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 55px; /* 100% */
    }
}

.headingStyles {
    font-family: 'Circular-Bold', sans-serif;
    padding: 30vh 100px 10px;
    max-width: 600px;
}

/* Nav Styles */

.homeMenu {
    color: #fff;
    margin: 0 100px 0 0;
    text-align: right;

    strong {
        font-family: 'Circular-Bold', sans-serif;
        font-weight: 700;
    }
}

 @media only screen and (max-width: 900px) {
    .homeMenu {
      display: none;
    }
  }

  /* Menu Styles */

.menu {
//max-width: 1024px;
    margin: 0 auto;
    padding: 100px 0;
    position: relative;
    z-index: 10;
}

.menu a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.menu .acknowledgments a {
    text-decoration: underline;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu ul h3 {
    font-size: 20px;
}

.menu ul ul {
    display: block;
    margin-left: 0;
}

.menu ul li {
    margin: 30px;
    width: 230px;
}

.menu ul li ul li {
    margin: 15px;
}

.menu img {
    margin: 0 auto 30px auto;
    display: block;
}

.menuWrapper {
    position: fixed;
    top: -100%;
    left: 0;
    transition: all .25s ease;
    height: 0;
    z-index: 100000;
    overflow-y: visible;
    width: 100%;
}

.menuWrapper.open {
    overflow: scroll;
    top: 0%;
    z-index: 100000;
    height: 100%;
}

.menuBg {
    position: absolute;
    transition: all .25s ease;
    top: 0;
    opacity: 0;
    z-index: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 37, 35, .2)
}

.menuWrapper.open .menuBg {
    opacity: 1;
}

.menuContainer {
    width: 100%;
    height: 0;
    overflow: auto;
    z-index: 100;
    padding: 0;
    position: relative;
    background-color: $accent-color;
}

.open .menuContainer {
    height: auto;
}

.menuToggle {
    width: 50px;
    height: 50px;
    position: fixed;
    border-radius: 2px;
    z-index: 1000;
    top: 22px;
    right: 25px;
    background-color: $accent-color;
    // box-shadow: 0 10px 15px 0 rgba(0,0,0,0.23);
    outline: none;
    border: none;
}
  
.menuToggle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .25s ease;
}
  
.menuToggle .openMenu, .open .menuToggle .closeMenu {
    opacity: 1;
}
  
.open .menuToggle .openMenu, .menuToggle .closeMenu {
    opacity: 0;
}

 /* Passion Section Styles */

.passion {
    background-color: #F0E6B5;
    border-radius: 15px;
    color: #2A4059;
    display: flex;
    min-height: 100vh;
    margin: 0 auto 25%;
    width: 90%; 
}

.passionLeft {
    background-color: $accent-color;
    padding: 25px;
    width: 60%;
}

.passionRight {
    padding: 10% 5%;
    width: 40%;

    h2 {
        background: linear-gradient(320deg, #0074D8 -20.03%, #0DC39F 94.54%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Circular-Bold';
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 100% */
        letter-spacing: -0.96px;
    }

    strong {
        font-family: 'Circular-Bold';
        font-weight: 700;
    }
}

.passion, .alive {
    h3 {
        font-family: 'Circular-Bold';
        font-weight: 700;
        margin: 50px 0 25px;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    
    .passionLeft {
        width: 100%;
    }
    
    .passionRight {
        width: 100%;
    }
}

/* Alive Section Styles */

.aliveContainer {
    background: url("../images/bicycle-bg.png") no-repeat;
    background-size: 100%;
    background-position-y: -50vh;
    position: relative;
    width: 100%;
    z-index: 2;
}

.alive {
    display: flex;
    height: 100vh;
    margin: 0 auto;
    width: 100%;
}

.aliveLeft {
    padding: 10%;
    width: 40%;

    h2 {
        background: linear-gradient(165deg, #0074D8 24.36%, #BB60A8 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Circular-Bold';
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 100% */
        letter-spacing: -0.96px;
    }
}

.aliveRight {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .aliveContainer {
        background: none;
        position: static;
        width: 100%;
    }
    
    .aliveLeft {
        padding: 10%;
        width: 100%;
    }
    
    .aliveRight {
      width: 0%;
    }
}

/* Interdependence Section Styles */

.interdependence {
    background: url("../images/interdependence-bg.png") no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    margin: 0 auto;
    width: 100%;
 }

.interdependenceLeft {
    width: 50%;
}

.interdependenceRight {
    padding: 50vh 10% 10%;
    width: 40%;

    h2 {
        background: linear-gradient(92deg, #BB60A8 -3.86%, #FD6A49 60.66%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Circular-Bold';
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 100% */
        letter-spacing: -0.96px;
    }
}

@media only screen and (max-width: 600px) {
    .interdependenceLeft {
        width: 0%;
    }
    
    .interdependenceRight {
      padding: 60vh 10% 10%;
      width: 100%;
    }
}

/* Ecosystem Section Styles */

.ecosystem {
    border: 2px dashed #fff;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.ecosystemContainer {
    border: 2px dashed #fff;
    border-radius: 3px;
    margin: 15px;

    p {
        margin: 25px auto;
        min-width: 250px;
        width: 50%;
    }

    h2 {
        background: linear-gradient(109deg, #FD6FDF 12.13%, #79F6AD 88.15%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Circular-Bold';
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 100% */
        letter-spacing: -0.96px;
    }

    h3 {
        margin-top: 50px;
        text-align: center;
        background: linear-gradient(93deg, #0DC39F 7.65%, #6FCF97 100%);
        border-radius: 50px;
        margin: 50px auto 25px;
        padding: 10px 40px;
        width: 200px;
    }

    .ecosystemBg {
        background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 90%, #19262E 100%), url("../images/ecosystem-bg.png") no-repeat;
        background-size: cover;
        padding: 50px 50px 100px;
    }
}

.contributors { 
    background: linear-gradient(180deg, #19262E 0%, #161B1E 8.83%);
    margin: 0;
    padding: 25px 50px 50px;
    width: auto;

    button {
        background: transparent;
        border: none;
        color: #efefef;
    }

    h2 {
        background: linear-gradient(109deg, #79F6AD 12.13%, #0044C9 88.15%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h3 {
        color: #FFF;
        text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.30);
        font-family: "Circular-Bold";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 250px;
    }
}

.contributorsCategory {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    button {
        border-radius: 50px;
        border: 1px solid #53ADA5;
        color: #FFF;
        text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.30);
        font-family: 'Circular-Bold';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 10px;
        width: 189px;
        height: 50px;
        cursor: pointer;

        span {
            border-radius: 30px;
            background: rgba(43, 69, 59, 0.25);
            padding: 3px 10px;
            flex-shrink: 0;
        }
    }

    button.active {
        background: linear-gradient(93deg, #0DC39F 7.65%, #6FCF97 100%);
    }
}

.contributorsList {

    h3 {
        color: #FFF;
        font-family: "Circular-Bold";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        opacity: 0.6;
        text-align: center;
        background: none;
        border-radius: 0;
        margin: 50px 0px 25px;
        padding: 0;
        width: 100%;
    }

    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        width: 90%;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    li {
        display: inline-flex;
        margin: 10px;
        width: 212px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 30px;
        background: #32373A;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
        text-align: left;
        align-items: center;
        justify-content: center;
    }

    .contributorName {
        display: inline-block;
        padding-left: 5px;
    }

    h4 {
        color: #FFF;
        font-family: "Circular-Bold";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0;
    }

    h5 {
        margin: 0;
        color: #FFF;
        font-family: "Circular-Book";
        font-size: 14px;
        font-weight: 200;
        line-height: normal;
        opacity: 0.6;
    }
}

/* Tools Section Styles */

.toolsContainer {
    background: url("../images/activate-bg.png") no-repeat;
    background-size: 100%;
    background-position-y: 50vh;
    margin: 0 auto;
    width: 100%;
}

.tools {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    justify-content: flex-start;
    column-gap: 0;
    height: 100vh;
    min-height: 1000px;
    margin: 0 auto;
    width: 90%;
}

.toolsTitle {
    background: linear-gradient(180deg, #6FCF97 0%, #40A1DD 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Circular-Bold';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 100% */
    margin: 10% auto;
    width: 50%;
}

@media only screen and (max-width: 600px) {
    // .tools {
    //   columns: 1;
    // }
  }

.tool {
    background: rgba(0, 0, 0, .5);
    border: 2px dashed #6DCD9A;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    max-width: 475px;
    width: 49%;

    h2 {
        font-size: 64px;
        text-align: left;
    }

    h3 {
        display: inline-block;
        font-family: 'Circular-Bold', sans-serif;
        font-size: 24px;
        font-weight: 700;
        padding-left: 10px;
    }

    button {
        cursor: pointer;
        background: none;
        border: none;
        color: #fff;
    }
}

// to animate bg: add a div and transition from opacity 0 to 1
.toolBg {
    // background-color: #1E181B;
    // -webkit-transition: all .25s ease;
    // -moz-transition: all .25s ease;
    // -o-transition: all .25s ease;
    // transition: all .25s ease;
    // opacity: 1;
}

.toolDetail {
    padding: 25px;
    text-align: center;
}

.membrane {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

.customize {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

.relationship {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

.crossgroup {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

.local {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

.action {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

.composable {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

.sensemaking {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

.prosocial {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

.prosocial {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

.publicgood {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

/* Testimonial Section Styles */

.testimonial {
    margin: 10% auto;
    text-align: center;
    width: 80%;
}

/* Bioregional Section Styles */

.bioregionalContainer {
    background: url("../images/bioregional-bg.png") no-repeat;
    background-size: cover;
    background-position-y: bottom;
    margin: 0;
    width: 100%;
}

.bioregional {
    margin: 0 auto;
    padding-bottom: 10%;
    width: 90%;

    h1 {
        font-size: 128px;
        line-height: 100px;
        margin: 0 0 50px;
    }

    h2 {
        font-size: 64px;
        margin: 0;
    }
}

.bioregionalDetail {
    display: flex;

    p {
        border: 2px dashed #fff;
        border-radius: 5px;
        margin: 25px 10px;
        padding: 25px;
    }
}

.bioregionalCTA {
    margin: 75vh auto 200px;
    text-align: center;
}

/* Planetary Section Styles */

.planetaryContainer {
    background: url("../images/planetary-bg.png") no-repeat;
    background-size: cover;
    padding: 10%;
    text-align: center;
}

.planetary {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 90%;

    h2 {
        font-family: 'Circular-Bold', sans-serif;
        font-size: 64px;
        line-height: 64px;
        font-weight: 700;
    }

    p {
        margin: 0 auto;
        width: 50%;
    }
}

.planet {
    left: 25%;
    top: 25%;
    position: absolute;
    z-index: 1;
    height: 542px;
    width: 542px;
}

.planetaryGrid {
    left: 25%;
    top: 25%;
    position: absolute;
    z-index: 2;
    height: 542px;
    width: 542px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.planetaryBelonging {
    position: absolute;
    left: 25%;
    top: 42%;
    z-index: 3;
    margin: 0 auto 10%;
    height: 542px;
    width: 542px;

    h3 {
        font-family: 'Circular-Book', sans-serif;
        font-size: 32px;
        font-weight: 100;
        margin: 0 auto;
        text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.75);
    }
}

.planetaryDetail {
    display: flex;
    margin-top: 750px;
    flex-wrap: wrap;

    p {
        font-family: 'Circular-Bold', sans-serif;
        font-size: 24px;
        margin: 25px auto;
        width: 90%;
    }
}

.planetaryCTA {
    border: 2px dashed rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: 25px;
    padding: 25px 0;
    text-align: center;
    flex-grow: 1;
    min-width: 250px;
    width: 25%;
}

/* Footer Section Styles */

footer {
    background-color: #142956;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    width: 100%;

    a {
        color: #fff;
        text-decoration: none;
    }
    
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
    }

    li {
        margin: 25px;
        min-width: 250px;
        text-align: left;
    }

    h2 {
        font-size: 64px;
        margin: 25% auto;
    }

    h3 {
        font-size: 36px;
        width: 100%;
    }

    h4 {
        font-size: 24px;
    }
}

.footerAcknowledgement {
    margin: 10% auto;
    text-align: center;
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .footerAcknowledgement {
        width: 100%;
    }
}

/*   ABOUT PAGE STYLES   */

.aboutHero {
    background-color: #19262E;
}

.aboutContainer {
    margin: 50px auto;
    width: 75%;

    h2 {
        background: linear-gradient(180deg, #6FCF97 0%, #40A1DD 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Circular-Bold";
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px; /* 112.5% */
    }

    h3 {
        font-family: "Circular-Bold";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
    }

    strong {
        color: #5CCF6F;
        font-family: "Circular-Bold";
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.5px;
    }

    a {
        color: #4BB3EB;
    }
}

.aboutImage {
    margin: 25px auto;
    width: 100%;
}
