@font-face {
    font-family: 'Circular-Bold';
    src: url('../fonts/CircularStd-Bold.otf');
}
  
@font-face {
    font-family: 'Circular-Book';
    src: url('../fonts/CircularStd-Book.otf');
}

$accent-color: #40A1DD;

body {
    background-color: #1E181B;
    color: #fff;
    font-family: 'Circular-Book', sans-serif;
    margin: 0;
    width: 100vw;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: rgba(30, 24, 26, 1.0);
}

body::-webkit-scrollbar-thumb {
    background: rgba(64, 161, 221, 1.0);
    border-radius: 20px;
}

h1, h2 {
    font-family: 'Circular-Bold';
    font-size: 48px;
}

p {
    font-size: 18px;
    line-height: 32px;
}

.pageStyles {
    color: "#232129";
    margin: 0;
    padding: 0;
}

.hero {
    height: 80vh;
    margin-bottom: 50px;
    position: relative;

    h1 {
        color: #FFF;
        text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.50);
        font-family: 'Circular-Bold';
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 55px; /* 100% */
    }
}

.headingStyles {
    font-family: 'Circular-Bold', sans-serif;
    padding: 25vh 100px 10px;
    max-width: 600px;
    position: relative;
    z-index: 10;
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.passionMessages {
    position: relative;
    z-index: 10;

    .message {
        background: #FFFFFF;
        box-shadow: 0px 15px 25px rgba(42, 64, 89, 0.35);
        border-radius: 10px;
    }
}

.backgroundWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;

    .backgroundImage {
        width: 100%;
        padding-top: 100px;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        animation-name: zoomIn;
        animation-duration: 30s;
        animation-fill-mode: forwards;
        background-position: bottom;
        background-size: cover;
    }
    
    .hero {
        background-image: url(../images/around-the-fire-web.png);
    }

    .gardenDay {
        background-image: url(../images/gardening-web.png);
    }

    .backgroundFade {
        position: absolute;
        width: 100%;
        height: 100px;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(30, 24, 26, 0) 0%, #1E181A 100%);

    }
}


/* Nav Styles */

.homeMenu {
    color: #fff;
    text-align: right;

    strong {
        font-family: 'Circular-Bold', sans-serif;
        font-weight: 700;
    }

    h3 {
        margin: 0;
    }
}

.menuCTA {
    margin: 0 100px 0 10px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

  /* Menu Styles */

.menu {
    margin: 0 auto;
    padding: 100px 0;
    position: relative;
    z-index: 10;
}

.menu a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.menu .acknowledgments a {
    text-decoration: underline;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

.menuPages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    margin: 0 auto;
    width: 90%;

    div {
        flex-grow: 1;
        margin: 0 25px;
    }

    h3 {
        font-size: 20px;
    }

    ul {
        list-style: none;
        display: inline-block;
        margin: 0;
        padding: 0;
    } 

    li {
        cursor: pointer;
        margin: 10px 0;
        width: 80%;
        text-wrap: wrap;
    }
}

.menuHome {
    margin: 0 auto 30px;
    text-align: center;
}

.menuWrapper {
    position: fixed;
    top: -100%;
    left: 0;
    transition: all .25s ease;
    height: 0;
    z-index: 100000;
    overflow-y: visible;
    width: 100%;
}

.menuWrapper.open {
    overflow: scroll;
    top: 0%;
    z-index: 100000;
    height: 100%;
}

.menuBg {
    position: absolute;
    transition: all .25s ease;
    top: 0;
    opacity: 0;
    z-index: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 37, 35, .2)
}

.menuWrapper.open .menuBg {
    opacity: 1;
}

.menuContainer {
    width: 100%;
    height: 0;
    overflow: auto;
    z-index: 100;
    padding: 0;
    position: relative;
    background-color: $accent-color;
}

.open .menuContainer {
    height: auto;
}

.menuToggle {
    width: 50px;
    height: 50px;
    position: fixed;
    border-radius: 2px;
    z-index: 1000;
    top: 15px;
    right: 25px;
    background-color: $accent-color;
    outline: none;
    border: none;
}
  
.menuToggle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .25s ease;
}
  
.menuToggle .openMenu, .open .menuToggle .closeMenu {
    opacity: 1;
}
  
.open .menuToggle .openMenu, .menuToggle .closeMenu {
    opacity: 0;
}

/* Circle Avatar Styles */

.circle-image {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin-left: 5px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* Passion Section Styles */

.passion {
    background-color: #F0E6B5;
    border-radius: 15px;
    color: #2A4059;
    display: flex;
    min-height: 100vh;
    margin: 0 auto 25%;
    width: 90%; 
}

.passionLeft {
    background-color: $accent-color;
    padding: 25px;
    width: 60%;
    position: relative;
}

.passionRight {
    padding: 10% 5%;
    width: 40%;

    h2 {
        background: linear-gradient(320deg, #0074D8 -20.03%, #0DC39F 94.54%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Circular-Bold';
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 100% */
        letter-spacing: -0.96px;
    }

    strong {
        font-family: 'Circular-Bold';
        font-weight: 700;
    }
}

.passion, .alive {
    h3 {
        font-family: 'Circular-Bold';
        font-weight: 700;
        margin: 50px 0 25px;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    
    .passionLeft {
        width: 100%;
    }
    
    .passionRight {
        width: 100%;
    }
}

/* Alive Section Styles */

.aliveContainer {
    background: url("../images/bicycle-bg.png") no-repeat;
    background-size: 100%;
    background-position-y: -50vh;
    position: relative;
    width: 100%;
    z-index: 2;
}

.alive {
    display: flex;
    height: 100vh;
    margin: 0 auto;
    width: 100%;
}

.aliveLeft {
    padding: 10%;
    width: 40%;

    h2 {
        background: linear-gradient(165deg, #0074D8 24.36%, #BB60A8 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Circular-Bold';
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 100% */
        letter-spacing: -0.96px;
    }
}

.aliveRight {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .aliveContainer {
        background: none;
        position: static;
        width: 100%;
    }
    
    .aliveLeft {
        padding: 10%;
        width: 100%;
    }
    
    .aliveRight {
      width: 0%;
    }
}

/* Interdependence Section Styles */

.interdependence {
    background-size: cover;
    display: flex;
    height: 100vh;
    margin: 0 auto;
    width: 100%;
 }

@keyframes rotate {
    to {
        transform: rotate(180deg);
    }
}
@keyframes bounce {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes highlightBounce {
    0% {
        transform: scale(1);
        border: 3px solid rgba(187, 96, 168, 0);
    }
    50% {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1.4);
        border: 3px solid rgba(187, 96, 168, 1.0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulsing {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); 
    }
}

@keyframes pulsingBig {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4); 
    }
}
.interdependenceLeft {
    width: 50%;

    .interdependenceAnimation {
        position: relative;
        width: 100%;

        .animationWrapper {
            width: 100%;
            height: auto;
            position: relative;
            border: 1px solid red;

            .elements {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 1px solid blue;

                img {
                    position: absolute;
                }
            }


            .spacer {
                position: relative;
                width: 100%;
                height: 100%;
            }

            .hyloIcon {
                width: 7.9%;
                height: 7.9%;
                right: 17.4%;
                top: 17.4%;
                transform: scale(0);
                animation-name: bounce;
                animation-delay: 0, 1s;
                animation-duration: .75s, 2s;
                animation-timing-function: ease-in-out, linear;
                animation-iteration-count: 1, infinite;
                animation-fill-mode: forwards;
            }

            .hyloMembrane {
                width: 42.8%;
                height: 42.8%;
                top: 0;
                right: 0;
                transform: scale(0);
                animation-name: bounce, rotate;
                animation-delay: 0, .15s;
                animation-duration: 1s, 15s;
                animation-timing-function: ease-in-out, linear;
                animation-iteration-count: 1, infinite;
                animation-fill-mode: forwards;
            }

            .hyloName {
                width: 12.8%;
                height: 1.9%;
                top: 26.6%;
                right: 14.9%;
                transform: scale(0);
                animation-name: bounce;
                animation-delay: .4s;
                animation-duration: .5s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }

            .phaIcon {
                width: 5.2%;
                height: 5.2%;
                right: 11.5%;
                bottom: 11.5%;
                transform: scale(0);
                animation-name: bounce;
                animation-delay: 2s;
                animation-duration: .75s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }

            .phaMembrane {
                width: 28.2%;
                height: 28.2%;
                bottom: 0;
                right: 0;
                transform: scale(0);
                animation-name: bounce, rotate;
                animation-delay: 2s, 2.5s;
                animation-duration: 1s, 15s;
                animation-timing-function: ease-in-out, linear;
                animation-iteration-count: 1, infinite;
                animation-fill-mode: forwards;
            }

            .phaName {
                width: 24.5%;
                height: 1.9%;
                bottom: 8%;
                right: 1.8%;
                transform: scale(0);
                animation-name: bounce;
                animation-delay: 2.25s;
                animation-duration: .75s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }

            .zebrasIcon {
                width: 13.1%;
                height: 13.1%;
                top: 41.4%;
                left: 30.9%;
                transform: scale(0);
                animation-name: bounce, pulse;
                animation-delay: 1s, 2s;
                animation-duration: .75s, 15s;
                animation-timing-function: ease-in-out, linear;
                animation-iteration-count: 1, infinite;
                animation-fill-mode: forwards;
            }

            .zebrasMembrane {
                width: 74.7%;
                height: 74.7%;
                left: 0;
                top: 10.7%;
                transform: scale(0);
                animation-name: bounce, rotate;
                animation-delay: 1s, 1s;
                animation-duration: 1.5s, 15s;
                animation-timing-function: ease-in-out, linear;
                animation-iteration-count: 1, infinite;
                animation-fill-mode: forwards;
            }

            .zebrasName {
                width: 18.4%;
                height: 2.3%;
                top: 55%;
                left: 28.4%;
                transform: scale(0);
                animation-name: bounce;
                animation-delay: 1.65s;
                animation-duration: .75s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }

            .subgroupMembrane {
                width: 17%;
                height: 17%;
                top: 74.2%;
                left: 38.2%;
                transform: scale(0);
                animation-name: bounce, rotate;
                animation-delay: 2s, 2s;
                animation-duration: 1.5s, 15s;
                animation-timing-function: ease-in-out, linear;
                animation-iteration-count: 1, infinite;
                animation-fill-mode: forwards;
            }

            .groupSpread1 {
                width: 46.6%;
                height: 21.1%;
                top: 4.5%;
                left: 36%;
                opacity: 0;
                animation-delay: 2.8s;
                animation-name: fadeIn;
                animation-duration: .75s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }

            .groupSpread2 {
                width: 14%;
                height: 19.4%;
                top: 29.1%;
                left: 19%; 
                opacity: 0;
                animation-delay: 2.8s;
                animation-name: fadeIn;
                animation-duration: .75s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }

            .groupSpread3 {
                width: 38.3%;
                height: 59%;
                top: 25.6%;
                left: 51.3%;
                opacity: 0;
                animation-delay: 2.8s;
                animation-name: fadeIn;
                animation-duration: .75s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }

            .messages {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 5;

                .lookingForHelp {
                    top: 24.5%;
                    left: 20%;
                    height: 11.1%;
                    width: 45.4%;
                    transform: scale(0);
                    animation-delay: 2.8s;
                    animation-name: bounce;
                    animation-duration: .75s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                }

                .illContribute {
                    width: 18%;
                    height: 6.59%;
                    top: 10.6%;
                    right: 40%;
                    animation-delay: 3.6s;
                    transform: scale(0);
                    animation-name: bounce;
                    animation-delay: 4s;
                    animation-duration: .75s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                }

                .iCanHelp {
                    width: 16.2%;
                    height: 6.5%;
                    top: 47.3%;
                    left: 57%;
                    transform: scale(0);
                    animation-delay: 4.2s;
                    animation-name: bounce;
                    animation-duration: .75s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                }

                .meToo {
                    width: 12.8%;
                    height: 6.6%;
                    right: 24.5%;
                    bottom: 17.4%;
                    transform: scale(0);
                    animation-delay: 4.3s;
                    animation-name: bounce;
                    animation-duration: .75s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                }
            }

            .profileImages {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;

                img:nth-child(1n) {
                    border-radius: 100%;
                    width: 2%;
                    height: 2%;
                    opacity: .6;
                    transform: scale(0);
                    animation-name: bounce;
                    animation-duration: .75s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                }

                img:nth-child(2n) {
                    width: 3%;
                    height: 3%;
                    border-radius: 100%;
                    opacity: .7;
                    transform: scale(0);
                    animation-name: bounce;
                    animation-duration: .75s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                }

                img:nth-child(3n) {
                    width: 4%;
                    height: 4%;
                    opacity: .8;
                    transform: scale(0);
                    animation-name: bounce;
                    animation-duration: .75s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                }

                .profileImage1 {
                    top: 12.4%;
                    right: 4.4%;
                    animation-delay: 1s;
                }
                .profileImage2 {
                    top: 3.3%;
                    right: 20.2%;
                    animation-delay: 1.2s;
                }
                .profileImage3 {
                    top: 11.1%;
                    right: 15.4%;
                    animation-delay: 1.3s;
                }
                .profileImage4 {
                    top: 20.8%;
                    right: 5.9%;
                    animation-delay: 1.4s;
                }
                .profileImage5 {
                    top: 29.3%;
                    right: 8.6%;
                    animation-delay: 1.5s;
                }
                .profileImage6 {
                    top: 33.7%;
                    right: 14.5%;     
                    animation-delay: 1.6s;               
                }
                .profileImage7 {
                    top: 32%;
                    right: 19%;
                    animation-delay: 1.7s;
                }
                .profileImage8 {
                    top: 34.7%;
                    right: 28.9%;
                    animation-delay: 1.8s;
                }
                img.profileImage9 {
                    top: 27.4%;
                    right: 33.6%;
                    width: 4%;
                    height: 4%;
                    border: 3px solid transparent;
                    animation-name: bounce, highlightBounce;
                    animation-delay: 1.9s, 2.8s;
                }
                .profileImage10 {
                    top: 10.9%;
                    right: 31.8%;
                    animation-delay: 2s;
                }
                .profileImage11 {
                    top: 10.7%;
                    right: 26%;
                    animation-delay: 2.1s;
                }
                .profileImage12 {
                    top: 4.5%;
                    right: 28%;
                    animation-delay: 2s;
                }
                .profileImage13 {
                    top: 16.2%;
                    left: 35.2%;
                    animation-delay: 2.1s;
                }
                .profileImage14 {
                    top: 23.9%;
                    left: 46.5%;
                    animation-delay: 2.15s;
                }
                .profileImage15 {
                    top: 32.3%;
                    left: 44.8%;
                    animation-delay: 2.2s;
                }
                .profileImage16 {
                    top: 38.6%;
                    left: 48.4%;
                    animation-delay: 2.25s;
                }
                .profileImage17 {
                    top: 45.2%;
                    left: 64.8%;
                    animation-delay: 2.3s;
                }
                .profileImage18 {
                    top: 54.6%;
                    left: 59.7%;
                    animation-delay: 2.6s;
                }
                .profileImage19 {
                    top: 59.7%;
                    left: 67.1%;
                    animation-delay: 2.35s;
                }
                .profileImage20 {
                    top: 67.9%;
                    left: 58.2%;
                    animation-delay: 2.4s;
                }
                .profileImage21 {
                    top: 63.3%;
                    left: 52.1%;
                    animation-delay: 2.45s;
                }
                .profileImage22 {
                    top: 62.3%;
                    left: 39.4%;
                    animation-delay: 2.5s;
                }
                .profileImage23 {
                    top: 75.3%;
                    left: 43.6%;
                    animation-delay: 2.55s;
                }
                .profileImage24 {
                    top: 78.7%;
                    left: 48.6%;
                    animation-delay: 2.6s;
                }
                .profileImage25 {
                    top: 86.1%;
                    left: 47%;
                    animation-delay: 2.65s;
                }
                .profileImage26 {
                    top: 63.7%;
                    left: 29.6%;
                    animation-delay: 2.7s;
                }
                .profileImage27 {
                    top: 72%;
                    left: 30%;
                    animation-delay: 2.75s;
                }
                .profileImage28 {
                    top: 79.5%;
                    left: 26.6%;
                    animation-delay: 2.8s;
                }
                .profileImage29 {
                    top: 68.4%;
                    left: 17%;
                    animation-delay: 2.85s;
                }
                .profileImage30 {
                    top: 59.1%;
                    left: 20.4%;
                    animation-delay: 2.9s;
                }
                .profileImage31 {
                    top: 51.9%;
                    left: 12.4%;
                    animation-delay: 2.95s;
                }
                .profileImage32 {
                    top: 62.3%;
                    left: 9.3%;
                    animation-delay: 3s;
                }
                .profileImage33 {
                    top: 47.1%;
                    left: 11.2%;
                    animation-delay: 3.05s;
                }
                .profileImage34 {
                    top: 48.4%;
                    left: 7%;
                    animation-delay: 3.1s;
                }
                .profileImage35 {
                    top: 36.3%;
                    left: 20.2%;
                    animation-delay: 3.15s;
                }
                .profileImage36 {
                    top: 29.8%;
                    left: 8.8%;
                    animation-delay: 3.2s;
                }
                .profileImage37 {
                    top: 31.2%;
                    left: 29.6%;
                    animation-delay: 3.25s;
                }
                .profileImage38 {
                    top: 28.2%;
                    left: 32.3%;
                    animation-delay: 3.3s;
                }
                .profileImage39 {
                    top: 21.6%;
                    left: 21.8%;
                    animation-delay: 3.35s;
                }
                .profileImage40 {
                    right: 11.6%;
                    bottom: 25.1%;
                    animation-delay: 3.4s;
                }
                .profileImage41 {
                    right: 5%;
                    bottom: 21.2%;
                    animation-delay: 2.1s;
                }
                .profileImage42 {
                    right: 7.3%;
                    bottom: 17.9%;
                    animation-delay: 2.2s;
                }
                .profileImage43 {
                    right: 3.7%;
                    bottom: 14.4%;
                    animation-delay: 2.3s;
                }
                .profileImage44 {
                    right: 1.1%;
                    bottom: 11.4%;
                    animation-delay: 2.4s;
                }
                .profileImage45 {
                    right: 5.6%;
                    bottom: 5.2%;
                    animation-delay: 2.5s;
                }
                .profileImage46 {
                    right: 9.1%;
                    bottom: 4.5%;
                    animation-delay: 2.6s;
                }
                .profileImage47 {
                    right: 13%;
                    bottom: 3%;
                    animation-delay: 2.7s;
                }
                .profileImage48 {
                    right: 19.6%;
                    bottom: 4.8%;
                    animation-delay: 2.8s;
                }
                .profileImage49 {
                    right: 18.8%;
                    bottom: 13.6%;
                    animation-delay: 2.9s;
                }
                .profileImage50 {
                    right: 23.4%;
                    bottom: 13.9%;
                    animation-delay: 3s;
                }
                .profileImage51 {
                    right: 16.4%;
                    bottom: 17.4%;
                    animation-delay: 3.1s;
                }
                .profileImage52 {
                    right: 13.5%;
                    bottom: 19.6%;
                    animation-delay: 3.2s;
                }
            }

        }
    }
}

.interdependenceRight {
    padding: 50vh 10% 10%;
    width: 40%;

    h2 {
        background: linear-gradient(92deg, #BB60A8 -3.86%, #FD6A49 60.66%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Circular-Bold';
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 100% */
        letter-spacing: -0.96px;
    }
}

@media only screen and (max-width: 600px) {
    .interdependenceLeft {
        width: 0%;
    }
    
    .interdependenceRight {
      padding: 60vh 10% 10%;
      width: 100%;
    }
}

/* Ecosystem Section Styles */

.ecosystem {
    border: 2px dashed #fff;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.ecosystemContainer {
    border: 2px dashed #fff;
    border-radius: 3px;
    margin: 15px;

    p {
        margin: 25px auto;
        min-width: 250px;
        width: 50%;
    }

    h2 {
        background: linear-gradient(109deg, #FD6FDF 12.13%, #79F6AD 88.15%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Circular-Bold';
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 100% */
        letter-spacing: -0.96px;
    }

    h3 {
        margin-top: 50px;
        text-align: center;
        background: linear-gradient(93deg, #0DC39F 7.65%, #6FCF97 100%);
        border-radius: 50px;
        margin: 50px auto 25px;
        padding: 10px 40px;
        width: 200px;
    }

    .ecosystemBg {
        background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 90%, #19262E 100%), url("../images/ecosystem-bg.png") no-repeat;
        background-size: cover;
        padding: 50px 50px 100px;
    }
}

.contributors { 
    background: linear-gradient(180deg, #19262E 0%, #161B1E 8.83%);
    margin: 0;
    padding: 25px 50px 50px;
    width: auto;

    button {
        background: transparent;
        border: none;
        color: #efefef;
    }

    h2 {
        background: linear-gradient(109deg, #79F6AD 12.13%, #0044C9 88.15%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h3 {
        color: #FFF;
        text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.30);
        font-family: "Circular-Bold";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 250px;
    }
}

.contributorsCategory {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    button {
        border-radius: 50px;
        border: 1px solid #53ADA5;
        color: #FFF;
        text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.30);
        font-family: 'Circular-Bold';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 10px;
        width: 189px;
        height: 50px;
        cursor: pointer;

        span {
            border-radius: 30px;
            background: rgba(43, 69, 59, 0.25);
            padding: 3px 10px;
            flex-shrink: 0;
        }
    }

    button.active {
        background: linear-gradient(93deg, #0DC39F 7.65%, #6FCF97 100%);
    }
}

.contributorsList {

    h3 {
        color: #FFF;
        font-family: "Circular-Bold";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        opacity: 0.6;
        text-align: center;
        background: none;
        border-radius: 0;
        margin: 50px 0px 25px;
        padding: 0;
        width: 100%;
    }

    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        width: 90%;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    li {
        display: inline-flex;
        margin: 10px;
        width: 212px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 30px;
        background: #32373A;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
        text-align: left;
        align-items: center;
        justify-content: flex-start;
    }

    .contributorName {
        display: inline-block;
        padding-left: 20px;
    }

    h4 {
        color: #FFF;
        font-family: "Circular-Bold";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0;
        text-wrap: balance;
    }

    h5 {
        margin: 0;
        color: #FFF;
        font-family: "Circular-Book";
        font-size: 14px;
        font-weight: 200;
        line-height: normal;
        opacity: 0.75;
        text-wrap: balance;
    }
}

/* Tools Section Styles */

.toolsContainer {
    background: url("../images/activate-bg.png") no-repeat;
    background-size: 100%;
    background-position-y: 50vh;
    margin: 0 auto;
    width: 100%;
}

.tools {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    justify-content: flex-start;
    column-gap: 0;
    height: 100vh;
    min-height: 1000px;
    margin: 0 auto;
    width: 90%;
}

.toolsTitle {
    background: linear-gradient(180deg, #6FCF97 0%, #40A1DD 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Circular-Bold';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 100% */
    margin: 10% auto;
    width: 50%;
}

@media only screen and (max-width: 600px) {
    // .tools {
    //   columns: 1;
    // }
  }

.tool {
    background: rgba(0, 0, 0, .5);
    border: 2px dashed #6DCD9A;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    max-width: 475px;
    width: 49%;

    h2 {
        font-size: 64px;
        text-align: left;
    }

    h3 {
        display: inline-block;
        font-family: 'Circular-Bold', sans-serif;
        font-size: 24px;
        font-weight: 700;
        padding-left: 10px;
    }

    button {
        cursor: pointer;
        background: none;
        border: none;
        color: #fff;
    }
}

// to animate bg: add a div and transition from opacity 0 to 1
.toolBg {
    // background-color: #1E181B;
    // -webkit-transition: all .25s ease;
    // -moz-transition: all .25s ease;
    // -o-transition: all .25s ease;
    // transition: all .25s ease;
    // opacity: 1;
}

.toolDetail {
    padding: 25px;
    text-align: center;
}

.membrane {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

.customize {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

.relationship {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

.crossgroup {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

.local {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

.action {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

.composable {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

.sensemaking {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

.prosocial {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

.prosocial {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

.publicgood {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0.7) 100%), url("../images/membrane-bg.png") no-repeat;
    background-size: cover;
}

/* Testimonial Section Styles */

.testimonial {
    margin: 10% auto;
    text-align: center;
    width: 80%;
}

/* Bioregional Section Styles */

.bioregionalContainer {
    background: url("../images/bioregional-bg.png") no-repeat;
    background-size: cover;
    background-position-y: bottom;
    margin: 0;
    width: 100%;
}

.bioregional {
    margin: 0 auto;
    padding-bottom: 10%;
    width: 90%;

    h1 {
        font-size: 128px;
        line-height: 100px;
        margin: 0 0 50px;
    }

    h2 {
        font-size: 64px;
        margin: 0;
    }
}

.bioregionalDetail {
    display: flex;

    p {
        border: 2px dashed #fff;
        border-radius: 5px;
        margin: 25px 10px;
        padding: 25px;
    }
}

.bioregionalCTA {
    margin: 75vh auto 200px;
    text-align: center;
}

/* Planetary Section Styles */

.planetaryContainer {
    background: url("../images/planetary-bg.png") no-repeat;
    background-size: cover;
    padding: 10%;
    text-align: center;
}

.planetary {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 90%;

    h2 {
        font-family: 'Circular-Bold', sans-serif;
        font-size: 64px;
        line-height: 64px;
        font-weight: 700;
    }

    p {
        margin: 0 auto;
        width: 50%;
    }
}

.planet {
    left: 25%;
    top: 25%;
    position: absolute;
    z-index: 1;
    height: 542px;
    width: 542px;
}

.planetaryGrid {
    left: 25%;
    top: 25%;
    position: absolute;
    z-index: 2;
    height: 542px;
    width: 542px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.planetaryBelonging {
    position: absolute;
    left: 25%;
    top: 42%;
    z-index: 3;
    margin: 0 auto 10%;
    height: 542px;
    width: 542px;

    h3 {
        font-family: 'Circular-Book', sans-serif;
        font-size: 32px;
        font-weight: 100;
        margin: 0 auto;
        text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.75);
    }
}

.planetaryDetail {
    display: flex;
    margin-top: 750px;
    flex-wrap: wrap;

    p {
        font-family: 'Circular-Bold', sans-serif;
        font-size: 24px;
        margin: 25px auto;
        width: 90%;
    }
}

.planetaryCTA {
    border: 2px dashed rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: 25px;
    padding: 25px 0;
    text-align: center;
    flex-grow: 1;
    min-width: 250px;
    width: 25%;
}

/* Footer Section Styles */

footer {
    background-color: #142956;
    margin: 0;
    padding: 50px 0;
    text-align: center;
    width: 100%;

    a {
        color: #fff;
        text-decoration: none;
    }
    
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
    }

    li {
        margin: 25px;
        min-width: 250px;
        text-align: left;
    }

    p {
        text-wrap: wrap;
    }

    h2 {
        font-size: 64px;
        margin: 25% auto;
    }

    h3 {
        font-size: 36px;
        width: 100%;
    }

    h4 {
        font-size: 24px;
    }
}

.footerAcknowledgement {
    margin: 10% auto;
    text-align: center;
    width: 75%;
}

.footerSeal {
    margin: 0 auto;
    width: 90%;
}

@media only screen and (max-width: 600px) {
    .footerAcknowledgement {
        width: 90%;
    }
}

/*   CONTENT PAGE STYLES   */

.contentHero {
    background-color: #19262E;
}

.contentContainer {
    margin: 50px auto;
    width: 75%;

    h2 {
        background: linear-gradient(180deg, #6FCF97 0%, #40A1DD 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Circular-Bold";
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px; /* 112.5% */
        margin: 50px 0 25px;
    }

    h3 {
        font-family: "Circular-Bold";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
    }

    strong {
        color: #5CCF6F;
        font-family: "Circular-Bold";
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.5px;
    }

    a {
        color: #4BB3EB;
    }

    h4 {
        font-family: "Circular-Book";
        font-size: 24px;
        font-style: normal;
        font-weight: 100;
        margin-bottom: 10px;
    }

    li {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 25px;
    }
}

.contentImage {
    margin: 25px auto;
    width: 100%;
}

.contentSection {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.asideImage {
    min-width: 500px;

}

@media only screen and (max-width: 900px) {
    .contentSection {
        flex-wrap: wrap;
    }

    .asideImage {
        min-width: 350px;
    }
}
